@keyframes animation1 {
	from {transform: scale(1.1);}
	to {transform: scale(1);}
}
@keyframes animation2 {
	from {transform: scale(0);}
	to {transform: scale(1);}
}
@keyframes animation3 {
	from {transform: scale(0);}
	to {transform: scale(1);}
}
.game_mines .mine_board {
	margin: 30px auto;
    display: grid;
    width: 100%;
    max-width: 600px;
    grid-template-columns: repeat(5,auto);
    grid-gap: 1em 0.75em;
    margin-bottom: 10px;
}
.game_mines .mine_board .tile {
    position: relative;
	padding-top: 100%;
}
.game_mines .mine_board .tile .cover{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
    border-radius: 0.5rem;
    background: #2f4553;
    box-shadow: 0 0.3rem #213743;
    cursor: pointer;	
}
.game_mines .mine_board .tile.opened .cover {
	display: none;
}
.game_mines .mine_board .tile:hover .cover {
	background: #557086;
	transform: translateY(-0.1rem);
}
.game_mines .mine_board .tile.opening .cover {
	animation-duration: 0.3s;
	animation-name: animation1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: #2f4553!important;
}
.game_mines .mine_board .tile.selected{
	opacity: 1!important;
}
.game_mines .mine_board .tile.selected .cover{
	background: #2196f3!important;
	box-shadow: 0 0.3rem #3f51b5;
}
.game_mines .mine_board .tile.selected .inside{
	border: 2px solid #2196f3;
    border-radius: 5px;
}
.game_mines .mine_board .tile.revealed {
	opacity: .3;
    transform: scale(.9);
}
.game_mines .mine_board .tile .inside {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
    border-radius: 0.5rem;
    background: #071824;
    cursor: pointer;	
}
.game_mines .mine_board .tile .cover.hide {
	transform: scale(0);
	animation-duration: 0.3s;
	animation-name: animation2;
	animation-direction: reverse;
}
.game_mines .mine_board .tile .inside img {
    height: 60%;
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
}
.game_mines .mine_board .tile .inside img.show {
	animation-duration: 0.5s;
	animation-name: animation3;
}
.game_content .content {
	position: relative;
}
.game_result_wrap {
	font-size: 0.875rem;
	background: #1a2c38;
	border-radius: 0.5rem;
	text-align: center;
	position: absolute;
	width: 150px;
	height: 75px;
	left: calc(50% - 75px);
	top: calc(50% - 37.5px);
	border: 3px solid;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .2), 0 4px 6px -2px rgba(0, 0, 0, .1);
	z-index: 999;
	display: none;
}
.game_result_wrap.win {
	border-color: #00e701;
	color:  #00e701;
}
.game_result_wrap .multiplier {
	font-size: 25px;
	font-weight: 600;
	width: 100%;
}
.game_result_wrap .win_amount {
	font-size: 14px;
}